<section class="flex flex-flow-no-wr center campStyles">
    <div class="flex flex-flow-no-wr center">
        <div class="camp-box margin-twenty flex-flow-row-wr">
            <h1 class="margin-twenty uppercase center-text">Welcome Adventurers</h1>
            <ul class="margin-twenty lowercase flex flex-flow-no-wr center camp-instruct center-text">
                <li class="left-text">To have your child participate in one of our camps please: download, print, fill
                    out our camp packet, then deliver it to one of our two store
                </li>
                <li class="left-text">location. Payment can be made online or in store to reserve your child's spot. The
                    admission fee goes into providing the supplies for each
                </li>
                <li class="left-text">camp. Since this is the case, we will have a zero cancellation policy in place.
                    These camps have limited spaces available.
                </li>
            </ul>
            <h1 class="margin-twenty uppercase center-text">Camp SignUps</h1>
            <p class="lowercase center-text flex center margin-twenty">Camps are limited to 16 campers. All camps are
                $250 to attend
                for 5 days of fun and learning.</p>
            <p class="center-text flex center lowercase">Registration is approved on a first come first server
                basis.</p>
            <p class="lowercase center-text"> Camps are open to adventurers ages 6 - 14.</p>
            <p class="lowercase center-text"></p>
            <a class="margin-twenty flex center center-text btn"
               href="https://dl.dropboxusercontent.com/u/53137166/2017-Chronicles%20Summer-Camp-Information-Packet.pdf"
               target="_blank">Download Camp Packet</a>
            <a class="btn margin-twenty flex center center-text" href="#itinerary">Camp Itinerary</a>
        </div>
        <div class="camp-box margin-twenty flex flex-flow-no-wr center center-text">
            <h1 class="uppercase about-camps center-text margin-twenty">About our camps</h1>
            <h3 class="margin-twenty uppercase">Camp dates</h3>
            <h2 class="margin-twenty">Pokemon</h2>

            <ul>
                <li class="lowercase">June 12th - June 16th in Lewisville, Tx</li>
                <div class="sr-block sr-default" sr-meta="june12" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <!-- SHOPROCKET END -->
                <li class="lowercase margin-twenty">June 19th - June 23rd in The Colony, Tx</li>
                <div class="sr-block sr-default" sr-meta="june23" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <li class="lowercase margin-twenty">July 31st - Aug 4th in The Colony, Tx</li>
                <div class="sr-block sr-default" sr-meta="july31" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <li class="lowercase margin-twenty">Aug 7th - Aug 11th in Lewisville, Tx</li>
                <div class="sr-block sr-default" sr-meta="aug7" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
            </ul>
            <h2 class="margin-twenty">Magic The Gathering</h2>
            <ul>
                <li class="lowercase">June 26th - June 30th in The Colony, Tx</li>
                <div class="sr-block sr-default" sr-meta="june26" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <!--END -->
                <li class="lowercase">July 10th - July 14th in Lewisville, Tx</li>
                <div class="sr-block sr-default" sr-meta="july10" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <!--END -->
                <li class="lowercase">July 31th - Aug 4th in Lewisville, Tx</li>
                <div class="sr-block sr-default" sr-meta="july31a" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <li class="lowercase">Aug 7th - Aug 11th in The Colony, Tx</li>
                <div class="sr-block sr-default" sr-meta="aug7a" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
            </ul>
            <h2 class="margin-twenty">Dungeons & Dragons RPG</h2>
            <ul>
                <li class="lowercase">June 12th - June 16th in The Colony, Tx</li>
                <div class="sr-block sr-default" sr-meta="june12a" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <li class="lowercase">June 26th - June 30th in Lewisville, Tx</li>
                <div class="sr-block sr-default" sr-meta="june26a" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <li class="lowercase">July 17th - July 21st in Lewisville, Tx</li>
                <div class="sr-block sr-default" sr-meta="july17" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <li class="lowercase">July 24th - July 28 in The Colony, Tx</li>
                <div class="sr-block sr-default" sr-meta="july24" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
            </ul>
            <h2 class="margin-twenty">Board Games</h2>
            <ul>
                <li class="lowercase">June 19th - June 23th in Lewisville, Tx</li>
                <div class="sr-block sr-default" sr-meta="june19b" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
                <li class="lowercase">July 10th - July 14th in The Colony, Tx</li>
                <div class="sr-block sr-default" sr-meta="july10c" sr-show-max="99" style="visibility: hidden;">
                    <div class="sr-item sr-buy-widget sr-small">
                        <div class="sr-price">[CURRENCY][PRICE]</div>
                        <div class="sr-quantity-column">Seats Remaining: [QUANTITY]</div>
                        <a class="sr-add-link" href="[ADDTOCART]" type="button">
                            <div class="sr-add"><i class="fa fa-shopping-cart"></i>Reserve Seat</div>
                        </a>
                    </div>
                </div>
        </div>
        </ul>
        <p class="lowercase margin-twenty center center-text flex">Scroll down to view the daily itineraries for
            each camp</p>
    </div>
    <div class="bot-margin-twenty"></div>

</section>
<section id="itinerary" class="flex flex-flow-no-wr center campStyles parallaxPokemon margin-twenty">
    <!-- BEGIN POKEMON -->
    <div class="flex flex-flow-no-wr flex-start bot-margin-twenty">
        <div class="margin-twenty bot-margin-twenty">
            <h1 id="eventHeader" class="flex center uppercase margin-twenty">Pokemon</h1>
            <h4 id="magicCamp" class="flex center bot-margin-twenty lowercase">
                Camp goers will take home the following: 1 Elite Trainer Box, 2 Pokemon Starters , 4 packs of card
                sleeves, 2 deck boxes, 1 entry into Sealed event. Experienced players and newer players will be
                separated into groups.
                There will be free play and a showing of a Pokemon TV episode every camp session.
            </h4>
        </div>
        <div class="flex flex-flow-row-wr center bot-margin-twenty">
            <div class="table-col flex flex-flow-no-wr">
                <div class="table-day flex-flow-no-wr">
                    <h2 class="flex uppercase margin-twenty">Monday</h2>
                </div>
                <div class="table-info lowercase">
                    <h3 class="margin-twenty uppercase">Introduction</h3>
                    <h3 class="margin-twenty">Discussion</h3>
                    <ul>
                        <li>Fairness</li>
                        <li>Honesty</li>
                        <li>Respect</li>
                        <li>Sportsmanship</li>
                        <li>Having fun and learning</li>
                        <li>Pokemon Tutorials</li>
                    </ul>
                    <h3 class="margin-twenty">Product Handout</h3>
                    <h4>Starter Deck</h4>

                </div>
            </div>
            <div class="table-col flex flex-flow-no-wr lowercase">
                <div class="table-day flex-flow-no-wr">
                    <h2 class="flex uppercase margin-twenty">Tuesday</h2>
                </div>
                <div class="flex flex-flow-row-wr table-head">
                    <h3 class="uppercase margin-twenty">Spirit of the game</h3>
                </div>
                <div class="table-info">
                    <h4 class="margin-twenty">Standard Deck Construction</h4>
                    <ul>
                        <li>Trading and card value</li>
                        <li>Sleeves and deck boxes handed out</li>

                    </ul>
                    <h3 class="margin-twenty">Product Handout</h3>
                    <h4>Elite Trainer Box</h4>
                    <h4>Additional Boosters</h4>
                </div>
            </div>


            <div class="table-col flex flex-flow-no-wr lowercase">
                <div class="table-day flex-flow-no-wr">
                    <h2 class="flex uppercase margin-twenty">Wednesday</h2>
                </div>
                <div class="flex flex-flow-row-wr table-head">
                    <h3 class="uppercase margin-twenty">rules and deck building</h3>
                </div>
                <div class="table-info">
                    <h4 class="margin-twenty">Deck construction and tuning</h4>
                    <h3 class="uppercase margin-twenty">Product Handout</h3>
                    <h4>Additional Boosters</h4>
                </div>
            </div>

            <div class="table-col flex flex-flow-no-wr lowercase">
                <div class="table-day flex-flow-no-wr">
                    <h2 class="flex uppercase margin-twenty">Thursday</h2>
                </div>
                <div class="flex flex-flow-row-wr table-head">
                    <h3 class="uppercase margin-twenty">Tournament rules & procedures</h3>
                </div>
                <div class="table-info">
                    <h4 class="margin-twenty">In-house tournament</h4>
                    <h3 class="margin-twenty">Product Handout</h3>
                    <h4>Additional Boosters</h4>
                </div>
            </div>


            <div class="table-col flex flex-flow-no-wr lowercase">
                <div class="table-day flex-flow-no-wr">
                    <h2 class="flex uppercase margin-twenty">Friday</h2>
                </div>
                <div class="flex flex-flow-row-wr table-head">
                    <h3 class="uppercase margin-twenty">Finale Friday tournament</h3>
                </div>
                <div class="table-info">
                    <h4 class="margin-twenty">Wrap-up Review </h4>
                    <h4>Watch the Pokemon movie</h4>
                    <h4>Wrap up Camp</h4>
                    <h3 class="margin-twenty">Product Handout</h3>
                    <h4>Booster packs, tournament rewards</h4>
                </div>
            </div>

            <!-- END -->

        </div>
    </div>
</section>
<section class="flex flex-flow-no-wr center campStyles parallaxMagic">
    <!-- BEGIN MAGIC -->
    <div class="flex flex-flow-no-wr flex-start">
        <div class="margin-twenty bot-margin-twenty">
            <h1 id="eventHeader" class="flex center uppercase margin-twenty">Magic the gathering</h1>
            <h4 id="magicCamp" class="flex center bot-margin-twenty">Camp includes all products for campers to take home
                at the end of the week, including MTG Intro Decks (X2), Deck Builder’s Toolkit, Entry into a Chronicle’s
                MTG Draft event (X2), Entry into a Chronicle’s MTG Sealed Event, Card Sleeves (X4), Deck Boxes (X2), MTG
                Bundle Pack</h4>
        </div>
    </div>
    <div class="flex flex-flow-row-wr center lowercase bot-margin-twenty">
        <div class="table-col flex flex-flow-no-wr bot-margin-twenty">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Monday</h2>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty uppercase">Introduction</h3>
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>What is MTG? (Brief History)</li>
                    <li>Sportsmanship Rules</li>
                    <li>Game play basics</li>
                    <li>Split up groups based on experience</li>
                    <li>Experienced players will be able to play freely. Newer players will be going
                        more in-depth into rules.
                    </li>
                </ul>
                <h3 class="margin-twenty">Product Handout</h3>
                <h4>Intro Deck, and MTG bundle pack.</h4>
            </div>
        </div>
        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Tuesday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
            </div>
            <div class="table-info">
                <h3 class="margin-twenty uppercase">improve basic skills</h3>
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Deck construction</li>
                    <li>Commander Format</li>
                    <li>Two-headed giant format</li>
                </ul>
                <h3 class="margin-twenty">Product Handout</h3>

                <h4>Deck builder's kit</h4>
                <h4>Sleeves</h4>
                <h4>Deck Box</h4>

            </div>
        </div>


        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Wednesday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="margin-twenty uppercase">improve basic skills</h3>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Advanced deck construction</li>
                    <li>Sealed Format</li>
                    <li>Modern Format</li>
                </ul>
                <h3 class="margin-twenty">Product Handout</h3>
                <h4>Booster Packs</h4>
            </div>
        </div>

        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Thursday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Applying skills </h3>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Tournament play</li>
                    <li>Sportsmanship</li>
                    <li>Draft format</li>
                </ul>
                <h3 class="margin-twenty">Draft tournament today</h3>
                <h3 class="margin-twenty">Product Handout</h3>
                <h4>Booster Packs</h4>
            </div>
        </div>


        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Friday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Finale friday tournament</h3>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Sportsmanship Reminder</li>
                    <li>Camp wrap-up</li>
                </ul>
                <p>Standard / Two-headed giant tournaments (*The campers will decided this.)</p>
                <h3 class="margin-twenty">Product Handout</h3>
                <h4>Sealed event entry ticket</h4>

            </div>
        </div>

        <!-- END -->

    </div>
</section>
<section class="flex flex-flow-no-wr center campStyles parallaxDnD">
    <!-- BEGIN RPG -->
    <div class="flex flex-flow-no-wr flex-start">
        <div class="margin-twenty bot-margin-twenty">
            <h1 id="eventHeader" class="flex center uppercase margin-twenty">Dungeons and dragons rpg</h1>
            <h4 id="magicCamp" class="flex center lowercase">Camp includes all products for campers to take home at the
                end of the week, including a voucher for up to $150 in supplies for the game. As many campers are
                returning we want them to be able to choose to enhance their collection for Role-playing games and not
                receive the same merchandise. These vouchers will allow new campers to pick up the key books to learn to
                play as well as for experienced campers to pick up new books to enhance their games. They include
                purchases of dice, miniatures, D&D books and supplements and everything a camper will need to go home
                and play a game.</h4>
        </div>
    </div>
    <div class="flex flex-flow-row-wr center bot-margin-twenty">
        <div class="table-col flex flex-flow-no-wr bot-margin-twenty">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Monday</h2>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty uppercase">Introduction</h3>
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>What makes RPGs unique?</li>
                    <li>What is a combat adventure?</li>
                    <li>Creating characters</li>
                </ul>
                <h3 class="margin-twenty">Product Handout</h3>
                <h4>$150 store voucher, dice, and dice bag</h4>
            </div>
        </div>
        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Tuesday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Start adventuring</h3>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Finalizing characters</li>
                    <li>Beginning a new campaign</li>
                    <li class="margin-twenty">*The councilors will run games with the campers newly created
                        characters.
                    </li>
                </ul>
            </div>
        </div>


        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Wednesday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Delving deeper</h3>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Creating multiple characters</li>
                    <li>The nuances of RPG game play</li>
                    <li>Leveling Up!</li>
                    <li>Fleshing out characters</li>
                    <li class="margin-twenty">*On this day campers will be splitting up into groups based on game play
                        experience.
                    </li>

                </ul>
            </div>
        </div>

        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Thursday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Further Adventuring</h3>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Finishing a campaign</li>
                    <li>How to be a Dungeon Master</li>
                    <li>Arena Battles</li>
                </ul>
            </div>
        </div>


        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase margin-twenty">Friday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Finale friday</h3>
            </div>
            <div class="table-info">
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Finishing adventures</li>
                    <li>Saying goodbyes</li>
                    <li>Camp Wrap-up</li>
                </ul>
            </div>
        </div>

        <!-- END -->

    </div>
</section>
<section class="flex center campStyles flex-flow-no-wr parallaxBoard">
    <!-- BEGIN BOARD GAMES -->
    <div class="flex flex-flow-no-wr flex-start">
        <div class="margin-twenty bot-margin-twenty">
            <h1 id="eventHeader" class="flex center uppercase margin-twenty">Board Games</h1>
            <h4 id="magicCamp" class="flex center bot-margin-twenty">Camp includes all products for campers to take home
                at the end of the week, including Dixit, Castle Panic, Ticket to Ride, X-Wing Core Set, and DC Deck
                Builder.</h4>
        </div>
    </div>
    <div class="flex flex-flow-row-wr center bot-margin-twenty">
        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase">Monday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="margin-twenty uppercase">Introduction</h3>
            </div>
            <div class="table-info">
                <h4 class="margin-twenty">Play Co-Op Games</h4>
                <h3 class="margin-twenty">Discussion</h3>
                <ul>
                    <li>Why do people play games so much?</li>
                    <li>Sportsmanship</li>
                    <li>Types of Games</li>
                </ul>

                <h3 class="margin-twenty">product handout</h3>
                <h4>Castle Panic</h4>
            </div>
        </div>
        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase">Tuesday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">deck building & card drafting</h3>
            </div>
            <div class="table-info">
                <h4 class="margin-twenty">Playing card drafting and deck building games</h4>
                <h3 class="margin-twenty">Discussion</h3>
                <p>Make the best out of limited resources.</p>
                <h3 class="margin-twenty">product handout</h3>
                <h4>DC Deck Builder</h4>
            </div>
        </div>


        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase">Wednesday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Resource Management</h3>
            </div>
            <div class="table-info">
                <h4 class="margin-twenty">Play resource management games</h4>
                <h3 class="margin-twenty">Discussion</h3>
                <p>The importance of resource management</p>
                <h3 class="margin-twenty">product handout</h3>
                <h4>Ticket to Ride</h4>
            </div>
        </div>

        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase">Thursday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Tabletop minis day</h3>
            </div>
            <div class="table-info">
                <h4 class="margin-twenty">Learn about and how to play Star Wars® X-Wing</h4>
                <h3 class="margin-twenty">Discussion</h3>
                <p>Strategy in gaming</p>
                <h3 class="margin-twenty">product handout</h3>
                <h4>X-Wing</h4>
            </div>
        </div>


        <div class="table-col flex flex-flow-no-wr">
            <div class="table-day flex-flow-no-wr">
                <h2 class="flex uppercase">Friday</h2>
            </div>
            <div class="flex flex-flow-row-wr table-head">
                <h3 class="uppercase margin-twenty">Finale friday</h3>
            </div>
            <div class="table-info">
                <h4 class="margin-twenty">Free choice of games to play on this day.</h4>
                <h3 class="margin-twenty">Discussion</h3>
                <p>Resources for games</p>
                <h3 class="margin-twenty">product handout</h3>
                <h4>Dixit</h4>
            </div>
        </div>

        <!-- END -->

    </div>
</section>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>var $ = jQuery.noConflict();</script>

<!-- Shoprocket JavaScript -->
<script language="javascript" src="https://space.shoprocket.co/frontend/sr.min.js?cid=11680"></script>

