<main class="flex layout flex-flow-no-wr">
    <section class="center center-text margin-twenty">
        <h1>Welcome to Chronicles Games, toys and comics web portal dashboard</h1>
        <p>what you can do here:</p>
        <ul>
            <li>Create and edit events</li>
            <li>View / delete Comments</li>
            <li>Record sales of SPs</li>
            <li>Add and remove carousal banners</li>

        </ul>
    </section>
    <section class="layout layout-section margin-twenty">
        <nav class="flex flex-flow-row-wr center">
            <div class="flex flex-flow-no-wr">

            </div>
            <div class="flex flex-flow-no-wr">
                <button onclick="createEventBtn()" class="btn">Create Event</button>
                <button onclick="createGameBtn()" class="btn">Create event types</button>
                <button onclick="editSpSales()" class="btn">Add Sp Sale</button>

            </div>
            <div class="flex flex-flow-no-wr">
                <button onclick="viewCommentsBtn()" class="btn">View comments</button>
                <button onclick="viewEventBtn()" class="btn">View events</button>
                <button onclick="viewGamesBtn()" class="btn">View events types</button>
                <button onclick="viewSpSales()" class="btn">View SP sales</button>
            </div>
            <div class="flex flex-flow-no-wr">
                <button onclick="editCaroBtn()" class="btn">Edit Carousel</button>
                <button onclick="editBlogBtn()" class="btn">Edit Blog</button>
            </div>
            <div class="flex flex-flow-no-wr">
                <button onclick="logoLink()" class="btn">Return to site</button>
            </div>
        </nav>
    </section>
</main>