<main class="flex layout flex-flow-no-wr">
    <section class="center center-text">
        <h1>Welcome to Chronicles Games, toys and comics web portal dashboard</h1>
        <p>what you can do here:</p>
        <ul>
            <li>Change the 3 upcoming events on the main page</li>
            <li>Change the events in the event calendar</li>
            <li>Add and remove carousal banners</li>
            <li>Add new blog posts</li>
            <li>Change featured "in the know" blog post on the home page.</li>
        </ul>
    </section>
    <section class="layout layout-section">
        <nav class="flex flex-flow-row-wr center">
                <button onclick="createEventBtn()" class="btn">Create events</button>
                <button onclick="createGameBtn()" class="btn">Create event types</button>
                <button onclick="viewEventBtn()" class="btn">View events</button>
                <button onclick="viewGamesBtn()" class="btn">View events types</button>
                <button onclick="viewCommentsBtn()" class="btn">View comments</button>

                <button onclick="editCaroBtn()" class="btn">Edit Carousel</button>
                <button class="btn tooltip">Edit Blog</button>
                <button onclick="logoLink()" class="btn">Return to site</button>
        </nav>
 </section>
</main>