* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
    margin: 0;
    padding: 0;
}

::before, ::after, label {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #f8ca66;
}

a.alt-link {
    text-decoration: none;
    color: #ffffff;
}

a.alt-link:hover {
    text-decoration: none;
    color: #f8ca66;
}

a:active {
    text-decoration: none;
    color: #f4eed7;
}

a:visited {
    text-decoration: none;
    color: #f8ca66;
}

body > div.background-div > div.nav-container > button:nth-child(1):hover {
    background-color: white;
    color: black;
    overflow-x: hidden;
    line-height: 1.5;
}

body {
    background: #382237;
    /*background: -moz-linear-gradient(top, rgba(25, 17, 23, 1) 0%, rgb(56, 34, 55) 28%, rgba(132, 72, 127, 1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25, 17, 23, 1)), color-stop(28%, rgba(56, 34, 55, 1)), color-stop(100%, rgba(132, 72, 127, 1)));*/
    /*background: -webkit-linear-gradient(top, rgba(25, 17, 23, 1) 0%, rgba(56, 34, 55, 1) 28%, rgba(132, 72, 127, 1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(25, 17, 23, 1) 0%, rgba(56, 34, 55, 1) 28%, rgba(132, 72, 127, 1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(25, 17, 23, 1) 0%, rgba(56, 34, 55, 1) 28%, rgba(132, 72, 127, 1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(25, 17, 23, 1) 0%, rgba(56, 34, 55, 1) 28%, rgba(132, 72, 127, 1) 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191117', endColorstr='#84487f', GradientType=0);
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    height: 100%;
    min-width: 320px;
    /*max-width: 1920px;*/
    text-transform: capitalize;

}

.background-div.flex.flex-flow-no-wr.center > img {
    align-self: center;
}

.background-div.flex.flex-flow-no-wr.center > div {
    align-self: center;
}

button {
    border: 1px solid black;
    margin: 2px;

}

input{
    font-family: 'Fira Sans', sans-serif;
}
.background-div {
    height: 242px;
    background-size: cover;
}

.main-logo {
    height: 100px;
    justify-content: center;
    align-self: center;

}

.main-logo:hover {
    cursor: pointer;
}

.btn:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px 20px;
    color: #1b1b1b;

}

.center {
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex;
    transition: background-color 0.6s ease;
    visibility: hidden;
}

#dots {
    position: relative;
    bottom: 24px;

}

.dotActive, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.slides {
    display: none;
}

.slideActive {
    display: block;
}

.layout-subsection {

    color: #fff;

}

.flex-flow-row-wr {
    flex-flow: row wrap;

}

hr {
    margin: 5%;
}

.layout-section-header > h1 {
    justify-content: center;
}

.block {
    width: 120px;
    height: auto;

}

.btn {
    background-color: #84487f;
    color: #ffffff;
    padding: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid black;
    margin: 2px;

}

.btn:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px 20px;
    color: #1b1b1b;
}

.btn-sm {
    cursor: pointer;
}

.btn-sm:hover {
    box-shadow: 5px 6px black;
    color: black;
}

.flex { /* on the parent elements */
    display: flex;

}

.flex-flow-no-wr {
    flex-flow: column nowrap;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.google-ads {
    height: 90px;
    width: 650px;
    background-color: #ffffff;
    color: #000000;

}

ul {
    list-style-type: none;
}

.twin {
    width: 900px;
    align-self: center;
}

.bold {
    font-weight: 800;
}

.footer-header {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer li {
    margin: 5px;
}

label {

}

textarea {
    height: 250px;
    width: 250px;
    resize: none;
}

#twitchPlayer {
    display: flex;
    width: 90%;

}

.lowercase {
    text-transform: none;
}

.uppercase {
    text-transform: uppercase;
}

.event-list {
    margin: 20px;
}

.event-date-style {
    font-size: 110%;
    font-weight: 800;
}

span.event-block {

}

.event-block {
    position: relative;
}

img.store-pic {
    width: 650px;
    height: 250px;
}

.about-wordwrap {
    word-wrap: normal;

}

#about, #comments, #eventHeader, #newComics h1 {
    color: #e8e0c5;
}

#about, #comments ul li {
    color: #ffffff;
}

article.about h1 {
    color: #e8e0c5;
}

section#about {
    align-items: flex-start;
}

article.uppercase.about {
    justify-content: flex-start;

}

.services {
    padding-top: 35px;
}

article.services h1 {
    text-decoration: underline;
}

figure.about-header-bg img {

}

.event-block {
    align-self: center;
}

/* styling for dynamic event pages */
.event-body {

}

.event-body h1 {
    text-align: center;
}

.event-body > h4 {
    align-self: center;
    padding: 20px 50px;
}

.event-body span {
    margin: 0 auto;
}

fieldset.fs-location {
    border: none;
    width: 320px;
    margin-top: 10px;
}

input#name, input#email {
    height: 55px;
    width: 370px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
}

textarea#message {
    width: 370px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
}

textarea#message:focus {
    background-color: #84487f;
    color: #ffffff;
}

textarea {
    width: 480px;
}

.comment-style {
    /*background-color: #0f3369;*/
    border: 1px solid white;
    width: 300px;
    margin: 10px;
    padding: 20px 0;

}

.comment-style:hover {
    background-color: #ffffff;
    color: #000000;
}

div.comment-style h3 {
    color: #f8ca66;

}

.margin-twenty {
    margin-top: 20px;
}

input.btn {

}

input:focus {
    background-color: #84487f;
    color: #ffffff;
    border: none;
}

input#message {
    margin-top: 20px;
    background-color: #84487f;
    color: #ffffff;
    border: none;
}

input#message:focus {

}

.field {
    margin: 20px;
}

.tooltip:hover:after {
    content: 'coming soon!';
    position: fixed;
    top: 450px;
    left: 86%;
    color: #fff;
}

.event-card {
    align-self: flex-start;
    width: 300px;

}

/* parallax Group */
.parallax {
    /* The image used */
    background-image: url("/images/home-page_parallax1.jpg");

    /* Full height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("/images/home-page_parallax2.jpg");

    /* Full height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.parallaxPokemon {
    /* The image used */
    background-image: url("/images/camp-page-parallax-pokemon.jpg");

    /* Full height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxMagic {
    /* The image used */
    background-image: url("/images/camp-page-parallax-mtg.jpg");

    /* Full height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxDnD {
    /* The image used */
    background-image: url("/images/camp-page-parallax-dnd.jpg");

    /* Full height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxBoard {
    /* The image used */
    background-image: url("/images/camp-page-parallax-board.jpg");

    /* Full height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* END PARALLAX GROUP*/

.flex-start {
    justify-content: flex-start;
}

/* TABLE GROUP */
.table-col {
    width: 250px;
    padding-right: 12px;
    word-wrap: normal;
}

div.table-col h3 {
    color: #e8e0c5;
}

div.camp-box h2 {
    color: #e8e0c5;

}

.camp-box a.btn {
    width: 250px;
    margin: 20px auto;
}

/* END TABLE GROUP*/

.left-text {
    text-align: left;
}

#magicCamp {
    padding: 0 10%;
}

#video-playback > div.player-overlay.player-fullscreen-overlay.js-control-fullscreen-overlay {
    width: 480px;
    height: 480px;
}

.color-standout {
    color: #f8ca66;
    font-size: 115%;
}

.bot-margin-twenty {
    margin-bottom: 20px;
}

.spacer-fix {
    margin: 0 10%;
}

article ul.center-text li a.fa:link {
    color: #ffffff;

}

article ul.center-text li a.fa:hover {
    color: #000000;
    background-color: #ffffff;

}

#about > section > article > p {
    margin: 0 0 0 15%;
}

@media screen and (max-width: 1920px) {
    .tooltip:hover:after {
        left: 74%;
    }

}

@media screen and (max-width: 1440px) {
    .tooltip:hover:after {
        left: 55%;
    }
}

.userinfo {
    margin-left: auto;
}

.userinfo.username, .userinfo.userlink {
    padding: 0 0.25rem;
    font-style: italic;
}

.userinfo-margin-fix {
    margin-right: auto;
}

#ppBody {
    font-size: 11pt;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
}

#ppHeader {
    font-family: verdana;
    font-size: 21pt;
    width: 100%;
    margin: 0 auto;
}

.ppConsistencies {
    display: none;
}

.pp-margins {
    margin: 20px 30px;
}

#eventBody > a {
    margin-right: .3em;
}

/* Shoprocket styles */

.cgtc-store div.sr-product-details {
    background-color: #382237;
    color: #f8ca66;
}

div.flex.center div.sr-add {
    border: none;
}

div.flex.center div.sr-add {
    align-self: baseline;

}

.align-store-items {
    align-items: flex-start;
    align-content: flex-end;
}

.caro {
    z-index: 999;
}

.margin-twenty-flanks {
    margin: 0 30px;
}

.margin-twenty-surround {
    margin: 20px;
}

.margin-twenty-events {
    margin: 0 5% 20px 0;
}

.display-none {
    display: none;
}

.group-h2-size {
    font-size: 150%;
}

.sm-margin-fix {
    margin: 5%;
}

/* camp sign up styles */

section.campStyles * input {
    height: 2.5em;
    width: 15em;
    margin: 0 2em;
    text-align: left;
}

.camp-box {
    height: auto;
    width: 100%

}

.camp-instruct {
    color: #e8e0c5;
}

/* end camp styles*/

/* tos */
.tos {
    margin: 0 50px;
}

.g-artboard {
    margin: 0 auto;
}

.bp-format {
    word-wrap: normal;
    margin: 2em 20em;
}

.pre {
    white-space: pre-wrap;
    flex-wrap: wrap;

}

/* blog title and author styles */
.blg-ttl-sty {
    font-size: 600%;
}

.ath-sty {
    color: #f8ca66;
}

/* facebook comment styles */
section.bp-format > div.fb-comments {
    margin: 0 auto;
}

section.add-inv form {
    margin-left: 2em;
}

.inv-row-top {
    background-color: #f8ca66;
    color: #382237;
    margin: 0 250px;
}

.inv-row-bot {
    background-color: #84487f;
    color: #f8ca66;
    margin: 0 250px;
    font-family: 'Fira Sans', sans-serif;
}

.inv-row-bot div {
    padding: 1em;
}

.tt-align-left {
    justify-content: flex-start;
}

#inSearch {
    width: 700px;
    height: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.3em;
}

form button.btn-inv {
    border: none;
    background-color: transparent;
    color: #382237;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
}

form button.btn-inv:hover {
    color: #fff;
    text-decoration: underline;
}

.btn-inv-add {
    background-color: transparent;
    color: #fff;
    padding: 1em;
    border: 1px solid #FFFFFF;
}

.btn-inv-add:hover {
    background-color: white;
    color: #382237;
    padding: 1em;
    border: 1px solid #FFFFFF;
}

.inv-key a {
    padding: 1em;
    margin: .1em;
    background-color: #f8ca66;
    color: #382237;
}

.inv-key > a:hover {
    background-color: #fff;
}

.inv-table input {
    background-color: inherit;
    border: none;
    width: 4em;
}

.border-bot-list {
    border-bottom: 2px solid black;
}

.inv-table input[type=number] {
    font-size: 12px;
    color: #FFFFFF;
    width: 5em;
}

.inv-table input[type=text] {
    font-size: 12px;
    color: #FFFFFF;
    width: 6em;
    text-align: left;
}


.inv-table input.quan {
    width: 3em;
}

.bot-list-itm li.first-itm a:hover{
    color: #382237;
}

li.first-itm input.cn {
    font-size: 12px;
    color: #FFFFFF;
    width: 30em;
    text-align: left;
}

/* arrows */

.arrow-up button {
    cursor: pointer;
    background-color: #84487f;
    border: none;
    font-size: 12px;
    color: #f8ca66;
    padding: 0 1em;
    font-family: 'Fira Sans', sans-serif;
}

.arrow-up button:hover{
    background-color: #f4eed7;
    color: #382237;
}
.arrow-up {
    position: absolute;
    z-index: 2;
    left: 12em;
}

.container {
    max-width: 1400px;
    display: flex;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
    margin-top: 2px;
    cursor: pointer;

}

.arrow-down:hover {
    border-top: 7px solid #f8ca66;
}

.list-items {
    justify-content: space-around;

}

.list-items ul{

}

.list-items li {

}
.bot-list-itm {
font-size: 12px;
    text-align: left;
    align-items: center;
}

li.list-last {
font-size: 8px;
    width: 13%;
}

.list-items li:first-child {

}

.first-itm {
    width: 50%;
    text-align: left;
}
.item{
    width: 15%;
}

.wht-stnd-out{
    color: #FFFFFF;
}